html {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}
body {
  width: 960px;
  margin: 10px auto 10px auto;
  background-color: #151515;
  color: #bdbdbd;
}

a.navbar {
 border: 2px solid #a1a1a1;
 padding: 6px;
 margin-right: 100px;
 border-radius: 4px;
 text-decoration: none;
 color: #a8a8a8;
 border-color: #a8a8a8;
}

a.navbar:hover {
  background-color: #a8a8a8;
  color: #696969;
  border-color: #696969;
  transition: background-color 0.2s ease-in;
}


div#navigation {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

a.tags {
  color: #d3d3d3;
  font-weight: bold;
  text-decoration: none;
}

a.tags:hover {
  text-decoration: underline;
}

#title {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

a.tracklog {
  color: #d3d3d3;
  font-weight: bold;
  text-decoration: none;
}

a.tracklog:hover {
  text-decoration: underline;
}

p#designer {
  font-size: 12px;
}

hr {
  height: 4px;
  color: #d3d3d3;
  background-color: #d3d3d3;
  border: 0;
}

#lambda2:hover > .lambda {
  display: inline-block;

transform: rotate(360deg);

    transition-duration: 0.8s;
}