html {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: black;
}

body {
  max-width: 940px;
  margin: 10px auto 10px auto;
  background: white url('../images/skyandsea.gif') repeat-x top left;
}

hr {
  color: rgb(240, 240, 240);
  height: 1px;
  width: 100%;
}

blockquote {
  color: black;
  background-color: #f3f3f3;
}

table, th, td
{
  border: 1px solid gray;
  border-collapse:  collapse;
  width: 60%;
}

/* Titles */

div#title {
  text-align: left;
  font-size: 38px;
  color: white;
  background-position: 634px 60px;
  margin: 0;
  height: 150px;
  margin-bottom: 50px;
}

div#subtitle {
  text-align: left;
  color: white;
  font-size: 12px;
  margin: 0;
  width: 100%;
}

/* Links */

a:link {
  text-decoration: none;
  font-weight: bold;
  color: rgb(40, 40, 40);
}

a:visited {
  text-decoration: none;
  font-weight: bold;
  color: rgb(40, 40, 40);
}

a:hover {
  text-decoration: underline;
}

a:focus {

}

a:active {
  text-decoration: underline;
}

/* Headings */

h1 {
  color: rgb(100, 100, 100);
  font-size: 26px;
  margin-top: 30px;
}

h2 {
  color: rgb(120, 120, 120);
  font-size: 22px;
  margin-top: 30px;
}

h3, h4, h5, h6 {
  color: rgb(120, 120, 120);
  font-size: 20px;
  margin-top: 30px;
}

/* Navigation Links */

div#navigation {
  float: right;
}

div#navigation a {
  margin-left: 20px;
}

/* Tags */

div#taglist {
  font-size: 12px;
  word-spacing: 12px;
  color: rgb(160, 160, 160);
}

/* Recent posts */

div#recent-posts-list li, div#all-posts-list li {
  list-style-type: square;
  text-indent: 15px;
  line-height: 40px;
}
