*~
*#*

# CABAL
/dist
/.cabal-sandbox
/cabal.sandbox.config

# Hakyll
/_cache
/_site

# Haskell output
*.hi
*.o

# Haskell Program Coverage
/.hpc
/*.tix

# Leksah
*.lkshs

# Intellij IDEA
/.idea
*.iml

# ctags
TAGS

