<div class="container">
  <div class="row">
    <div class="col my-4">
      <h2>Type error</h2>
      <p>
        There is no resource at this location.
      </p>
      <iframe src="https://lichess.org/tv/frame?theme=wood&amp;bg=light" style="width: 400px; height: 444px;" allowtransparency="true" frameborder="0"></iframe>
    </div>
  </div>
</div>
