<div class="container">
  <div class="row">
    <div class="col my-4">
      <h2>Contact</h2>
      <ul class="list-group tmorris-border">
        <li class="list-group-item tmorris-border">
          <span class="tmorris-green-text fa-stack fa-2x">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-at fa-stack-1x fa-inverse"></i>
          </span>
          <span class="title">Email</span>
            <a href="mailto:tmorris@tmorris.net">tmorris@tmorris.net</a>
        </li>
        <li class="list-group-item tmorris-border">
          <span class="tmorris-green-text fa-stack fa-2x">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
          </span>
          <span class="title">Twitter</span>
          <a href="https://twitter.com/dibblego">https://twitter.com/dibblego</a>
        </li>
        <li class="list-group-item tmorris-border">
          <span class="tmorris-green-text fa-stack fa-2x">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-comments fa-stack-1x fa-inverse"></i>
          </span>
          <span class="title">IRC</span>
          <a href="irc://irc.freenode.net/#qfpl">Freenode: #qfpl</a> (<a href="http://webchat.freenode.net?randomnick=1&amp;channels=%23qfpl&amp;uio=d4">instant chat window</a>)
        </li>
        <li class="list-group-item tmorris-border">
          <span class="tmorris-green-text fa-stack fa-2x">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-gitlab fa-stack-1x fa-inverse"></i>
          </span>
          <span class="title">Gitlab</span>
          <a href="https://gitlab.com/tonymorris">https://gitlab.com/tonymorris</a>
        </li>
        <li class="list-group-item tmorris-border">
          <span class="tmorris-green-text fa-stack fa-2x">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-github fa-stack-1x fa-inverse"></i>
          </span>
          <span class="title">Github</span>
          <a href="https://github.com/tonymorris">https://github.com/tonymorris</a>
        </li>
      </ul>
    </div>

  </div>
</div>
