<div class="container my-4">
  <div class="row">
    <div class="col">

      <h1 class="display-4 text-center">
        λ Tony's Blog λ 
      </h1>

    </div>
  </div>
</div>

<!--
<div class="container my-2">
  <div class="row">

    <div class="col">
      <div class="card-deck">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title tmorris-bottom-line">Box 1</h5>
            <p class="card-text">Box 1 content</p>
          </div>

        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title tmorris-bottom-line">Box 2</h5>
            <p class="card-text">
              Box 2 content
            </p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title tmorris-bottom-line">Box 3</h5>
            <p class="card-text">
              Box 3 content
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
-->

<div class="container">
  <div class="row">
    <div class="col">
      <div class="section-header text-left">
      <h3 class="tmorris-bottom-line">Recent posts</h3>
    </div>
    $partial("templates/post-list.html")$
    <a class="btn tmorris-green text-white p-2 my-2" href="/archive">
      <span> View the Archive for more </span>
    </a>
    </div>
  </div>
</div>
