<div class="container my-4">
  <div class="row">
    <div class="col">

      <h5 class="display-5 text-center">
        λ Tony's Blog λ 
      </h5>

    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col my-2">
      <h2>$title$</h2>
      <small>Posted on $date$</small>
    </div>
  </div>

  <div class="row">
    <div class="col my-2">
      $body$
    </div>
  </div>

  $if(project)$
  <div class="row">
    <div class="col my-2">
      $project$
    </div>
  </div>
  $endif$

  $if(authors)$
  <div class="row">
    <div class="col my-2">
      $for(authors)$
      $body$
      $endfor$
    </div>
  </div>
  $endif$

  <hr/>
  <div id="disqus_thread"></div>
  <script>
    (function() {
    var d = document, s = d.createElement('script');
    s.src = 'https://tonys--blog.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>
    <p>
      The comments use <a href="http://disqus.com/?ref_noscript">Disqus</a>,
    which requires Javascript.
    </p>
  </noscript>
</div>
</div>
$endif$

$if(authors)$
<div class="row">
$for(authors)$
<div class="col-md-12">
    $body$
</div>
$endfor$
</div>
$endif$
